# Command to extract strings:  pybabel extract -F babel.cfg -k _l -o app/translations/messages.pot app/
# Command to update catalogs:  pybabel update -i app/translations/messages.pot -d app/translations
# Command to init new locale:  pybabel init -i app/translations/messages.pot -d app/translations -l es
# Command to compile catalogs: pybabel compile -d app/translations

[python: app/**.py]
[jinja2: **/templates/**.html]
extensions=jinja2.ext.i18n