html,body {
  height: 100%;
}

.btn-group-vertical > button{
    margin-bottom:10px;
    border-radius:10px !important;
}

.wrap-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;
}

.install-button {
  /*position: absolute;*/
  /*top: 1px;*/
  /*left: 1px;*/
  position:fixed;
	width:50%;
	height:60px;
	bottom:5%;
	right:25%;
  padding: 1em .5em;
  border: none;
  border-radius: 12px;
  background-color: #50b1fc;
  cursor: pointer;
  color: #FFFFFF;
}

.offline-notification {
    display: none;
    padding: 1em;
    text-align: center;
}

.offline-notification.show {
    background-color: red;
    color: white;
    display: block;
}

.float-button-add-element{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	left:30px;
	background-color:#28a745;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	opacity: 1.0;
}

.fixed-top{
	position:-webkit-sticky;
	position:sticky;
        top:0;
        left:0;
        right:0;
}

@media (hover: none) and (pointer: coarse) {
    /* touchscreens */
    ::-webkit-scrollbar {
        display: none;
    }
}
@media (hover: none) and (pointer: fine) {
    /* stylus */
}
@media (hover: hover) and (pointer: coarse) {
    /* controllers */
}
@media (hover: hover) and (pointer: fine) {
    /* mouse or touchpad */
}

/* https://bootsnipp.com/snippets/GaxR2 */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #28a745;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


