<div class="modal" id="editPasswordModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 id="editPasswordModalTittle" class="modal-title">{{_("Modificar contrasinal")}}</h4>
      </div>

      <!-- Modal body -->
      <input type="hidden" id="changePasswordIdModal" name="changePasswordIdModal">
      <div class="modal-body container-fluid" id="editPasswordModalBody">
        <div class="d-flex flex-row align-items-start mb-3">
            <label for="userPass">{{_("Contrasinal actual")}}</label>
            <input type="password" class="form-control" id="userPassNow" name="userPassNow" value="">
        </div>
        <div class="d-flex flex-row align-items-start mb-3">
            <label for="userPass">{{_("Nova Contrasinal")}}</label>
            <input type="password" class="form-control" id="userPassNew" name="userPassNew" value="">
        </div>
        <div class="d-flex flex-row align-items-start mb-3">
            <label for="userPass">{{_("Confirmar Contrasinal")}}</label>
            <input type="password" class="form-control" id="userPassNew1" name="userPassNew1" value="">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="changePasswordModal()">{{_("Modificar contrasinal")}}</button>
        <button type="button" class="btn btn-primary" onclick="closePasswordModal()">{{_("Saír")}}</button>
      </div>

    </div>
  </div>
</div>